@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&family=EB+Garamond:ital,wght@1,700&family=Mulish:wght@1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --color-default-rgb: 33, 37, 41;
}

.contant {
  padding-top: 4%;
}

.carousel-caption.d-md-block.cp {
  width: 100%;
  left: 0;
  bottom: 4%;
  background-color: #0f4a339e;
}

ul.pro_duct {
  /* padding-left: 1%; */
  padding-top: 1%;
}

.mt-40 {
  margin-top: 40px;
}

.comman-head h2 {
  text-align: center;
  font-size: 30px;
  color: #e59300;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.process__area .comman-head h2 {
  text-align: left;
  font-size: 30px;
  color: #e59300;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.process__area .comman-head h2:after {
  content: "";
  background: #CFCFCF;
  width: 80px;
  height: 3px;
  /* left: 0;  */
  left: 0;
  /* margin: auto; */
  position: absolute;
  bottom: 0;
}

.about-us .comman-head h2 {
  text-align: left;
  font-size: 30px;
  color: #e59300;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.about-us .comman-head h2:after {
  content: "";
  background: #CFCFCF;
  width: 80px;
  height: 3px;
  left: 0;
  right: 47%;
  /* margin: auto; */
  position: absolute;
  bottom: 0;
}

.abou_t .comman-head h2 {
  text-align: left;
  font-size: 30px;
  color: #e59300;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.abou_t .comman-head h2:after {
  content: "";
  background: #CFCFCF;
  width: 80px;
  height: 3px;
  left: 0 !important;
  right: 47%;
  /* margin: auto; */
  position: absolute;
  bottom: 0;
}

h3.h_cdw {
  margin: 0;
  line-height: 42px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 35px;
  margin-left: 6px;
  border-left: 2px solid #001;
}

h1 {
  font-size: 26px;
}

.h_for {
  font-size: 14px;
  font-weight: bold;
  width: 90%;
  padding-left: 6px;
  border-left: 2px solid #3a3838;
  margin-left: 5px;
  margin-bottom: 0;
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
  display: block;
  border-radius: 0;
  margin-top: -1px;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: #212529;
  --bs-dropdown-bg: #fff;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #212529;
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #e9ecef;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

ul.dropdown-menu li {
  width: 100%;
  margin: 0;
  /* padding: 0 14px; */
}

ul.dropdown-menu li a {
  padding: 7px 10px;
  border-bottom: 1px solid #eee;
}

ul.dropdown-menu li a i {
}
.megamenu{
    position: fixed;
    border-top: 4px solid #daa248;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 15px;
}

.dropdown-menu.megamenu .menumega {}

.dropdown-menu.megamenu .menumega li {
    display: block;
    background: #ffffff;
    margin-right: 0;
    margin-bottom: 0px;
}

.dropdown-menu.megamenu .menumega li:hover {
    background: #f4c16e;
}

.dropdown-menu.megamenu .menumega li:hover>a {
    color: #46381f !important;
}

.dropdown-menu.megamenu .menumega li a {
    padding: 9px;
    display: block;
}

.headingmenu a {
    font-size: 16px !important;
    font-family: var(--tp-ff-p);
    padding-left: 10px !important;
    padding-bottom: 6px !important;
    padding-top: 14px !important;
    color: #361d02 !important;
}

.headingmenu {
    margin: 0;
}
.about_banner {
  background-image: url('../img/about/a_banner.png');
  background-size: cover;
}

.tab_sec {
  background-color: #ffffff;
  /* margin-bottom: 2%; */
  border-bottom: 2px solid #919090;
}

.res {
  width: 100%;
}

.header__sticky .main-menu ul li a {
  /* color: #744904 !important; */
}

.header__sticky .header__sm-action-item i {
  color: #000!important;
  ; }

.comman-head h2:after {
  content: "";
  background: #CFCFCF;
  width: 80px;
  height: 3px;
  /* left: 0; */
  right: 47%;
  /* margin: auto; */
  position: absolute;
  bottom: 0;
}

.quality-products {
  text-align: left;
  padding: 0 0px;
}

.quality-products h4 {
  font-size: 2.0rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 35px;
}

.home-about p {
  color: #3D3D3D;
  /* font-weight: normal; */
  /* font-size: 15px; */
  text-align: justify;
  line-height: 25px;
  margin: 14px 0 24px;
}

p.wow.fadeInUp {}

blockquote {
  font-weight: 800;
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
}

.read-more a {
  width: 36px;
  height: 36px;
  background: url(../images/plus.png);
  display: inline-block;
  text-indent: -9999px;
  border: 1px solid #ddd;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.quality-products h4:after {
  background: #fb9c01;
  width: 190px;
  height: 4px;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.facility h5 {
  font-size: 6.5rem;
  color: #fb9c01;
  line-height: 6.5rem;
  margin: 0px;
}

.facility h6 {
  color: #3D3D3D;
  font-weight: normal;
}

.read-more a {
  width: 36px;
  height: 36px;
  background: url(../img/about/plus.png);
  display: inline-block;
  text-indent: -9999px;
  border: 1px solid #ddd;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.read-more a:hover {
  background: #fb9c01 url(../img/about/plus.png);
  border-color: #fb9c01;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

/* csr */
.news-detail h3 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #3D3D3D;
  font-weight: normal;
}

.news-1.blue-box {
  padding: 30px;
  width: 100%;
  height: 100%;
}

.blue-box {
  background: #e1a040;
}

.news-1.blue-box h3 {
  color: #fff;
}

.news-detail h3 {
  font-size: 26px;
  margin-bottom: 16px;
  color: #3D3D3D;
  font-weight: normal;
}

.news-1.blue-box p {
  color: #fff;
  font-size: 16px;
}

.news-1.blue-box p {
  color: #fff;
}

.news-detail p {
  margin-bottom: 20px;
  color: #3D3D3D;
  /* font-weight: normal; */
  text-align: justify;
  line-height: 26px;
}

/* --------footer--------- */
.footer-detail h3 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-detail p {
  color: #000;
  font-weight: 400;
  margin-bottom: 31px;
  font-size: 16px;
}

h5.heading_fooetr {
  color: #000;
}

ul.footer_link li {
  list-style: none;
}

footer.footer a:hover {
  color: #fb9c01;
}

footer.footer a {
  color: #000;
  /* font-weight: normal; */
  margin-bottom: 2px;
  padding: 3px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy-text p {
  margin-bottom: 0;
}

p.text-end {
  margin-bottom: 0;
}

.copyright {
  padding: 1% 0 0;
  border-top: 1px solid #c7c7c7;
  margin-bottom: 0 !important;
  background: #dbdbdb;
}

.tel-phone img {
  margin-right: 10px;
}

footer.footer {
  background: #dbdbdb;
  margin: 0;
  padding: 50px 6%;
  padding-bottom: 0;
}

p.text-white.detail {
  font-size: 14px;
}

.ne_w a {
  padding: 12px 22px!important;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 12%;
}

button.Enquire {
  background-color: #aaaaaa;
  color: #000!important;
  padding: 6px 14px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 6px;
  border-radius: 5px;
}

button.Feed_Back {
  background-color: #e1a040;
  color: #ffffff!important;
  border-radius: 5px;
  padding: 6px 14px;
  width: 100%;
}

p.text-white.white {
  font-size: 14px;
}

/* -------about--------- */
.h_padding {
  padding: 5% 0;
}

.p60 {
  padding: 4% 0;
}

.pb1 {
  padding-bottom: 1%;
}

.pb2 {
  padding-bottom: 2%;
}

.pb3 {
  padding-bottom: 3%;
}

.pb4 {
  padding-bottom: 4%;
}

.pb5 {
  padding-bottom: 5%;
}

.pt1 {
  padding-top: 1%;
}

.pt2 {
  padding-top: 2%;
}

.pt3 {
  padding-top: 3%;
}

.pt4 {
  padding-top: 4%;
}

.pt5 {
  padding-top: 5%;
}

.sec_title h1 {
  padding-bottom: 2%;
}

.h_padding {
  position: relative;
}

.h_padding:after {
  border-top: 3px solid #f67519;
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: 3%;
  left: 0;
  /* right: 0; */
  bottom: 11px;
  width: 150px;
  z-index: -1;
}

section.bream_banner {
  background-color: #eee6;
}

.r5 {
  border-radius: 5px;
}

.about_img {
  overflow: hidden;
  position: relative;
}

.about_img img:hover {
  transform: scale(1.2);
  transition: 2s ease-in-out;
}

.pos {
  position: relative;
}

img.res.trust.r5 {
  position: absolute;
  width: 15%;
  right: -10%;
  z-index: 11;
  top: 32%;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0px 3px 2px 0px #433e3e63;
}

img.res.trust.r5:hover {
  transform: translateY(-10px);
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  transition: all 0.5s ease-in-out;
}

.we-are-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

#about-us-section {
  background: #0c4c91;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2% 0;
}

.about-us-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-right: 850px;
  margin-left: 12px;
  z-index: 2;
}

.about-us-info h2 {
  color: white;
  font-size: 30pt;
  text-align: right;
}

.about-us-info p {
  color: white;
  font-size: 14pt;
  text-align: right;
}

.about-us-info a {
  background-color: white;
  color: #0c4c91;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-us-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

#history-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.history-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 820px;
  height: 100%;
  overflow: hidden;
}

.history-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-left: 850px;
  margin-right: 12px;
  z-index: 2;
}

.history-info h2 {
  color: #0c4c91;
  font-size: 40pt;
  text-align: left;
}

.history-info p {
  color: #0c4c91;
  font-size: 14pt;
  text-align: left;
}

.history-info a {
  background-color: #0c4c91;
  color: white;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

.center_heading hr {
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 1;
  width: 13%;
  margin: auto;
}

.bg_img {
  background-image: url(../img/about/fixedbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 11;
  position: relative;
}

.bg_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000000c4;
}

.area {
  background-image: url(../img/gallery/bg2.png);
  background-size: cover;
  background-attachment: fixed;
  z-index: 11;
  position: relative;
}

.area::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000000c4;
}

.matel_contant p {
  color: #fff;
  text-align: center;
}

section.about_banner {
  padding: 10% 0;
  background-color: #eee;
}

h1.center_heading {
  color: #fff;
}

.bg_light {
  background-color: #e7e7e7de;
}

.bg_gray {
  background-color: #eaeaea;
}

.insprir p {
  text-align: justify;
}

.bream_banner p {
  text-align: justify;
}

.left_heading::after {
  border-top: 3px solid #f67519;
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: 3%;
  left: 0;
  bottom: -7px;
  width: 150px;
  z-index: 1;
}

.exp_countery {
  padding: 3% 0 0 0;
  position: relative;
}

.exp_c li {
  list-style: none;
  display: inline-block;
  width: 23.8%;
  background-color: #fff;
  margin-bottom: 21px;
  text-align: center;
  /* white-space: nowrap; */
  font-size: 16px;
  color: #6b6666;
  margin: 0 0 21px 5px;
  font-weight: bold;
  /* border-radius: 40px;
box-shadow: 0px 1px 4px 0px #8b848475; */
}

ul.exp_c a.tp-btn-ts {
  height: 47px;
  line-height: 46px;
  width: 100%;
  box-shadow: 0px 1px 4px 0px #8b848475;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.insprir p {
  margin-bottom: 4px;
}

.insp_gallery {
  margin-bottom: 22px;
}

ul.exp_c {
  text-align: center;
}

/* ----=======-zoom---========----- */
#gallery {
  padding-top: 40px;
}

ul.area_list {
  list-style: none;
  padding: 0;
  margin-left: 17px;
  margin-top: 28px;
}

ul.area_list li {
  margin-bottom: 10px;
  list-style: outside;
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 5%;
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}

#nextButton:hover {
  opacity: 0.7;
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}

#prevButton:hover {
  opacity: 0.7;
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}

#exitButton:hover {
  opacity: 0.7;
}

/* ------------about2---------- */
/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #f67519;
background-color: #fff;
border-color: #f67519 #f67519 #f67519;
font-weight: bold;
}
.nav-tabs {
border-bottom: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
color: #f67519;
background-color: #fff;
border-color: #f67519 #f67519 #f67519;
isolation: isolate;
} */
/* -------29-7-23--------- */
h5.p_ro {
  font-size: 20px!important;
}

.pipes p {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}

.pipes p.number {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.gray.pipes {
  padding: 5px 0 !important;
}

/* !important     border: navajowhite;*/
.units li.nav-item button {
  color: #fff!important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #fff!important;
  background-color: transparent;
  border: none!important;
}

.tab-content {
  background-color: transparent!important;
  padding: 15px;
  -webkit-mask-origin: padding-box;
  box-shadow: none!important;
  border-radius: 5px;
}

.tabproduct .tab-content>.active {
  background: #ffffff;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px dashed #ffd086;
}

/* ------29-7-23---------- */
ul li {
  list-style: none;
}

ul.number {
  padding-left: 2%;
}

ul.number li {
  list-style: decimal;
}

.exp_im img {
  width: 100%;
}

.exp_im.pos h3 {
  position: absolute;
  bottom: 0;
  width: 100%!important;
  text-align: center;
  margin: 0;
  background-color: #ff8100a1;
  padding: 6px 0;
  color: #fff;
}

.exp_c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #422800e8;
  text-align: center;
  padding: 19% 0;
  opacity: 0;
}

.exp_img:hover .exp_c {
  opacity: 1 ;
}

img.equl {
  height: 300px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 34px;
}

img.equl4 {
  width: 100%;
  border-radius: 5px;
  height: 228px;
}

/* ---
----about--------- */
/* ---------------group-about-------------- */
section.p60.abou_t {
  background-color: #fbfbfb;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow); body {
  font-size: 16px;
  color: #666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-weight: 500 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sectionClass {
  /* padding: 20px 0px 50px 0px; */
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.sectiontitle {
  background-position: center;
  /* margin: 30px 0 0px; */
  text-align: center;
  min-height: 20px;
}

.sectiontitle.text-left {
    text-align: left;
}

.sectiontitle.text-left h2 {
    padding-left: 0;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #e59300;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
}

.sectiontitle span {
  display: block;
  font-size: 20px;
  margin-top: 6px;
  color: white;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block !important;
  background: #e59300;
}

.projectFactsWrap {
  display: flex;
  /* margin-top: 30px; */
  flex-direction: row;
  flex-wrap: wrap;
}

#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.projectFactsWrap .item span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 11px auto 0;
}

.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p {
  color: white;
}

.projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
      flex: 0 0 50%;
  }
}

/* AUTHOR LINK */
.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
}

.about-me-img img {
}

.authorWindow {
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper {
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}

.trans {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* -----end----- */
.produ_ct {
  text-align: center;
  border-radius: 5px;
  border: 0px solid #9f9b9b !important;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 13%);
}

.p_color {
  color: #302e2e;
}

.p_im_g {
  overflow: hidden;
  position: relative;
}

.p_im_g img:hover {
  transform: scale(1.2);
  z-index: 1;
  transition: 2s ease-in-out;
}

.produ_ct:hover {
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1) ;
  transition: 1s, ease-in-out;
  background-color: #fff;
}

.produ_ct:hover .p_im_g {
  /* margin: 6px 6px 0px 6px; */
}

/* .produ_ct:hover .p_im_g img {
transform: scale(1.2);
transition: 2s ease-in-out;
margin: 6px;
} */
.produ_ct:hover.produ_ct h3 {
  color: #eb8f05;
}

.produ_ct img {
  border-radius: 5px;
  padding-bottom: 0;
}

.produ_ct h3 {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 18px;
}

.carousel-caption.d-none.d-md-block.c1 {
  top: 30%;
  left: 9%!important;
  text-align: left;
  width: 33%;
  border-radius: 5px;
  /* background-color: #074400!important; */
  /* background-color: #c7782e!important; */
  height: max-content;
  padding: 29px;
  /* border: 2px solid #eee; */
  /* box-shadow: 0px 2px 3px 2px #a8aa9e; */
}

/* .carousel-caption.d-none.d-md-block.c1 h5{
color: #0c3e00;
}
.carousel-caption.d-none.d-md-block.c1 p{
color: #0c3e00;
} */
.carousel-caption.d-none.d-md-block.c3 {
  left: 56%!important;
  top: 30%;
  border-radius: 5px;
  right: 9%;
  /* border: 2px solid #eee; */
  /* background-color: #00000080; */
  height: max-content;
  padding: 29px;
  /* box-shadow: 0px 2px 3px 2px #a8aa9e; */
}

.carousel-caption.d-none.d-md-block.c5 {
  left: 7%!important;
  top: 30%;
  border-radius: 5px;
  right: 9%;
  height: max-content;
  padding: 29px;
}

.carousel-caption.d-none.d-md-block.c2.pipes {
  width: 43%;
}

.carousel-caption h5 {
  color: #fff;
  font-size: 36px;
  /* color: rgb(255 255 255 / 0%) !important;
  font-size: 35px;
  -webkit-text-stroke: 1px #ffffff;
  font-weight: 800;
  text-shadow: 1px 1px 1px #110909; */
}

.carousel-caption p {
  color: #fff;
  font-size: 16px;
}

/* .g_bout_e {
background-color: #c17502;
position: absolute;
width: 35%;
top: 33%;
} */
.n_tabs ul li button {
  width: 100%;
  margin-bottom: 20px!important;
  display: block;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px #a99f9f;
  color: #000;
}

.a_im_g img {
  border-radius: 5px;
}

.brand__area {
  position: relative;
  /* background-image: url('../goodluck/product/product_bg.png'); */
  background: #f8f5f1;
  padding-top: 50px !important;
  padding-bottom: 40px !important;
}

.tabproduct .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #eed169;
  font-size: 24px;
  color: #825000;
  font-weight: 800;
  cursor: not-allowed;
}

.tabproduct .nav-pills .nav-link {
  background: #ffffff;
  border-radius: 5px 5px 0px 0px;
  font-weight: 800;
  margin-right: 10px;
  background: #eed169;
  color: #ae832a;
  webkit-transition: all 0.8s ease-out 0s;
  -moz-transition: all 0.8s ease-out 0s;
  -ms-transition: all 0.8s ease-out 0s;
  -o-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
}

.tabproduct .nav-pills .nav-link:hover {
    font-size: 24px;
}
 

.tabproduct .tab-content {
  padding: 0;
}

.brand__area::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgb(255 255 255 / 90%);
}

.n_tabs ul {
  display: block;
}

.n_tabs ul li button.nav-link {
  border-radius: 0;
  text-align: left;
  padding: 7px 43px;
}

.n_tabs {
  /* margin-top: 16%; */
}

.carousel-control-next-icon {
  background-color: #000000;
  border-radius: 25px;
  padding: 9px;
}

.carousel-control-prev-icon {
  background-color: #000000;
  border-radius: 25px;
  padding: 9px;
}

.n_tabs ul {
  display: block;
}

/* ------------------------ */
.cunt p.number {
  color: #708090;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}

.cunt {
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0px;
  padding-bottom: .5rem !important;
}

.cunt p {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px !important;
  margin-top: 2px;
}

.n_tabs.ews li {
  display: inline-block;
  /* padding: 0 44px; */
}

.cunt span {
  font-size: 32px;
  color: #fff;
}

.capabilities_tab {
  background-color: #ebebeb;
}

.tab-content {
  background-color: #fff;
  padding: 15px;
  -webkit-mask-origin: padding-box;
  box-shadow: 0px 1px 3px 0px #000000;
  border-radius: 5px;
}

.blue {
  /* background-color: rgb(5 74 58 / 18%)!important; */
}

.exp_img img {
  width: 100%;
  height: 236px;
}

.app_img::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: #00000070;
}

.expites {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.exp_h {
  position: absolute;
  top: 85%;
  /* left: 22%; */
  color: #ffa700;
  width: 100%;
  text-align: center;
}

.row.product_all {
  height: auto!important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all_p {
  height: 560px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all {
  display: none;
}

.all_hide {
  display: none;
}

.carousel-caption.d-none.d-md-block.bl {
  top: 30%;
  left: 10%!important;
  border: 2px solid #eee;
  text-align: left;
  width: 33%;
  background-color: #04060600!important;
  border-radius: 5px;
  height: max-content;
  padding: 29px;
}

.carousel-caption.d-none.d-md-block.c1.new {
  background-color: #00000024!important;
}

.all_show {
  display: block;
}

button.v_all {
  font-size: 16px;
  color: #e59300;
  border: 1px solid #e59300;
  padding: 4px 11px;
  border-radius: 5px;
}

.expites:hover .exp_contant {
  transform: translateX(0px);
  transition: 1.5s ease-in-out;
}

section.p60.ex_pites {
  background-color: #ebebeb;
}

h3.exp_h {
  font-size: 20px;
}

.ex_pites .sectiontitle {
  margin-bottom: 10px;
}

.expites:hover .h3.exp_h {
  display: none;
  transition: 1s;
}

.exp_contant {
  position: absolute;
  z-index: 119;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00140499;
  transform: translateX(-323px);
}

ul.experts {
  display: flex;
  gap: 10px;
}

.expites:hover .app_name {
  opacity: 1;
}

.app_name {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* align-items: center; */
  text-align: center;
  color: #fff;
  background-color: #1e1515ba;
  transition: 1s ease-in-out;
}

.app_name h3 {
  color: #fff;
}

.app_name h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* ---------------------------- */
.carousel-caption.d-none.d-md-block.bg_tr {
  bottom: -10px;
  left: 10% !important;
  text-align: left;
  width: 33%;
  border-radius: 5px;
  /* background-color: #42393973  !important; */
  height: max-content;
  padding: 25px;
  /* border: 2px solid #eee; */
  /* box-shadow: 0px 2px 3px 2px #f0f0f0; */
}

/* ------------------- */
.carousel-caption.d-none.d-md-block.c1.new_r {
  background-color: #00000085!important;
}

/* ===========14-7-23========== */
.chart ul li {
  font-size: 11px;
}

.ptb {
  padding: 60px 0!important;
}

.precisi_on.p-3.mt-5 {
  padding: 2.6% 3% 0 3% !important;
}

.clean {
  display: flex;
  align-items: center;
}

.clean.c1 {
  background-color: #502717;
}

.clean.c2 {
  background-color: #469c45;
}

.clean.c3 {
  background-color: #2a6a80;
}

.clean img {
  width: 100%;
  margin: auto;
  height: 300px;
}

.left_imf {
  width: 49%;
}

.left_imf.pl-4 {
  padding-left: 3%;
}

.left_imf.pl_t {
  padding: 0 3%;
}

/* ----------17-7-23------------ */
.detail h6 {
  color: #956e05;
}

.detail ul li {
  list-style: disc;
}

.detail ul {
  padding-left: 4%;
}

.proc_detail {
  display: flex;
  gap: 20px;
}

.h_color {
  color: #956e05;
}

ul.bl_det {
  padding-left: 6%;
}

.wd60 {
  width: 60%;
}

.wd40 {
  width: 40%;
}

ul.sequ {
  padding-left: 3%;
}

ul.sequ li {
  list-style: auto;
}

.w100 {
  width: 100%;
}

/* -----18-7-22---------- */
.pt_10 {
  padding-top: 30px;
}

.mt_40 {
  padding-top: 40px;
}

.r_5 {
  border-radius: 5px;
}

/* ---------20-7-23---------- */
/*  */
.forgung {
  padding: 24px 0;
}

.forgung p {
  color: #fff;
}

.forgung span.s_csr {
  color: #fff;
}

ul.forg_ung li {
  color: #fff;
}

.forging_main {
  display: flex;
  align-items: center;
}

.w40 {
  width: 40%;
  margin-right: -8%;
  z-index: 11;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.c_enterd {
  background-color: #273e49e8;
  padding: 5%;
}

.Forg_ing {
  background-color: #e5ffe6;
}

ul.csr_about {
  padding-left: 4%;
}

 

span.s_csr {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.flag_type {
  display: flex;
  justify-content: space-between;
}

.f_type ul.csr_about {
  padding-left: 28px;
}

.f_type ul.csr_about li {
  font-size: 14px;
  display: inline-block;
  width: 48%;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  list-style: auto;
}

.spacial ul.csr_about li {
  font-size: 14px;
}

.spacial ul.csr_about {
  padding-left: 28px;
}

section.flanges {
  padding: 60px 0;
  background-color: #45dca238;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800"); .timeline__event__description p {
  font-weight: 700;
  color: #000;
}

.indesturis {
  background-color: #f6f4de;
}

.certification_img h4 {
  text-align: center;
  background-color: #bc1330;
  padding: 7px 0;
  color: #fff;
}

.Machine_Shop {
  padding: 60px 1px;
  background-color: #a9e28038;
}

.h_line {
  background-color: #c9dcc5;
  color: #000;
  padding: 0 0 0 7px;
}

ul.for_cp.mb-5 {
  padding-left: 25px;
}

.row_metrial p b {
  font-size: 16px;
}
.justify{
  text-align: justify;
}
ul.for_cp.mb-5 li {
  list-style: auto;
  font-weight: 800;
}

.row_met {
  padding: 60px 1px;
  background-color: #f3fff2;
}

/* .Machine_Shop{
background-color: #a9e28038;
} */
.QualityLab {
  padding: 60px 0;
}

ul.csr_aboutq {
  padding-left: 35px;
}

ul.csr_aboutq li {
  list-style: auto;
}

ul.csr_aboutq.mb-5 {
  padding-bottom: 31px;
}

.certification_img {
  margin-bottom: 20px;
}

.conta_ct {
  padding: 60px 1px;
  background-color: #77b690;
}

.packing {
  padding: 60px 1px;
  background-color: #cdf2f8;
}

ul.csr_about.pack li {
  font-size: 14px;
  margin-bottom: 12px;
}

.deail {
  display: flex;
  gap: 10px;
}

.contact_map {
  display: flex;
  gap: 10px;
  padding: 23px 0;
}

/* h5.bh1 {
color: #fdfdfd!important;
font-size: 30px;
text-shadow: 2px 1px #0b6177; 
text-shadow: 2px 3px #22ac00;
} */
/* ========================== */
.applaction {
  text-align: center;
}

ul.applaction li {
  list-style: none;
  width: 19%;
  display: inline-block;
}

.applaction h3.exp_h {
  position: absolute;
  top: 58%;
  left: 2%;
  color: #fff;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 96%;
  margin: auto;
}

/* ===============31/7/23================ */
.carousel-caption.d-md-block.c5 {
  top: 40%;
  width: 100%;
  left: 0;
  font-size: 24px;
}

/* .carousel-caption.d-md-block.c5 h5{
font-size: 24px!important;
} */
p.p_ul6 {
  column-count: 2;
  column-gap: 25px;
}

.application {
  display: flex;
}

.gl_sheets {
  display: flex;
  gap: 49px;
  padding-left: 3%;
}

.gl_sheets li {
  list-style: dotted;
}

.gl_detail {
  display: flex;
  gap: 38px;
}

.gl_cd ul li {
  display: flex;
}

.gl_cd ul li span {
  font-size: 14px;
}

.gl_cd ul li span:first-child {
  font-weight: 700;
  font-size: 14px;
  width: 43%;
}

.cr_coils ul li {
  display: flex;
}

.cr_coils ul li span:first-child {
  width: 30%;
}

.cr_coils ul li span:last-child {
  width: 70%;
}

/* ==============01-08-23============= */
/* ==============2-8-2023========== */
ul.units {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.brand__slider-item1 {
  width: 12%;
  display: inline-block;
  text-align: center;
  margin: 2%;
}

ul.mission li {
  list-style: disc;
}

ul.mission {
  padding-left: 4%;
}

/* ==============2-8-2023========== */
.cer_img {
  margin-bottom: 24px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 5px;
}

section.Certification {
  background-color: #eee;
}

.Q_lab {
  border: 1px solid #9f9b9b;
  padding: 8px;
  margin-bottom: 24px;
}

.Q_lab h4 {
  text-align: center;
  margin: 0;
  padding: 8px 0;
}

.carousel-control-next, .carousel-control-prev {
  width: 6%;
}

.P_blue {
  background-color: #ffffff9e!important;
  border: 1px solid #dedcdcb8;
  box-shadow: 0px 2px 2px 1px #ded6d6;
}

.P_blue h5 {
  font-size: 25px;
  color: #000;
}

h5.b_heading {
  font-size: 25px;
  color: #000;
}

.P3_blue {
  background-color: #ffffff9e!important;
  border: 1px solid #dedcdcb8;
  box-shadow: 0px 2px 2px 1px #ded6d6;
}
/* end */
/* ==========4-8-2023===ved======= */
.b_gc{
  background-color: #f1f4f1;
  /* border: 3px solid #b0b0b0; */
}
.b_gc .modal-header {
  background-color: #d0d0d0ee;
  color: #fff;
}
#Enquire input.form-control{
  border: 1px solid #bdc0bd;
}
#Enquire .form-control:focus{
border: none;
box-shadow: none;
outline: none;
}
#Enquire label.form-label {
  color: #404040;
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 14px;
}

.footer .c_now a.landline img {
  width: 12%!important;
    border-radius: 5px;
}
/* ==========4-8-2023===ved======= */



/*--- media-screen-- */
@media(min-width: 700px) {
  .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
      padding: 2em;
  }

  .company-info h3, .company-info ul, .brand {
      text-align: left;
  }

  /* -----end--media-- */
}

@media screen and (max-width: 768px) {
  .authorWindow {
      width: 210px;
  }

  .contact {
      display: block;
      padding: 0px 0;
  }

  .forging_main {
      display: block;
  }

  .csrimg img.r_5 {
      width: 100%;
  }

  .himage img {
      height: auto!important;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .contact form input, .contact form textarea {
      width: 100%;
      padding: 0.5em;
  }

  .w50, .w40, .w60 {
      width: 100%;
      margin-bottom: 10px;
  }

  .forgung {
      padding: 0;
  }

  .authorWindowWrapper {
      bottom: -170px;
      margin-bottom: 20px;
  }

  main {
      padding-top: 38px;
  }

  footer p {
      font-size: 14px;
  }

  .produ_ct h3 {
      font-size: 12px!important;
      font-weight: bold;
      width: 96%!important;
      padding-left: 6px;
      border-left: none;
      margin-left: 5px;
  }

  .ptb {
      padding: 10px 0!important;
  }

  .brand__slider-item img {
      padding: 0;
      width: 100%;
  }

  .brand__title span {
      font-size: 36px;
      font-weight: bold!important;
      margin-bottom: 30px;
  }

  /* -----end--media-- */
}

@media only screen and (max-width: 575px) {
  ul.experts {
      display: block;
      margin: 5px;
  }

  ul.experts li {
      margin-bottom: 8px;
  }

  .cwd .logo h3.h_cdw {
      line-height: 26px;
      font-size: 34px;
  }

  h5.text-white.mb_font {
      font-size: 14px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }

  .carousel-caption {
      bottom: 0;
  }

  .cunt p {
      font-size: 14px;
  }

  .cunt p.number {
      font-size: 24px;
  }

  ul.applaction li {
      width: auto;
  }

  .comman-head h2 {
      font-size: 20px !important;
      margin-bottom: 5px !important;
      padding-bottom: 10px !important;
  }

.services__item .ser__title {
    font-size: 13px;
}
  .counter-container{
    padding: 5px !important;
    margin: 2px 0px 5px !important;
    box-shadow: none !important;
}

  /* -----end--media-- */
}

/* =============cwd============= */
.cdwtubesbanner h5 {
  background: #986e12db;
  position: absolute;
  right: 25px;
  z-index: 999;
  bottom: -15px;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 8px #222222;
  backdrop-filter: blur(0px);
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.carousel-item:before {
  content: '';
  position: absolute;
  background: rgb(99 72 14 / 0%);
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  /* z-index: -1; */
}

.carousel-item {
  position: relative;
  z-index: 1;
}

.cdwtubesbanner .carousel-caption {
  background: linear-gradient(-45deg, rgb(255 171 47 / 75%), rgb(136 100 14 / 77%), rgb(196 147 8 / 80%), rgb(209 170 55 / 72%));
  background-size: 400% 400%;
  animation: gradient 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transition: all 0.5s ease-in-out;
  perspective: 600px;
  z-index: 9;
  backdrop-filter: blur(5px);
  transform: perspective(700px) rotateX(30deg);
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
}

.cdwtubesbanner .carousel-caption p {
  text-shadow: 1px 1px #c48a21;
  text-align: justify;
  font-family: var(--tp-ff-heading);
  font-size: 20px;
}

.cdwtubesbanner .carousel-caption h4 {
  text-align: left;
  color: white;
  font-size: 30px;
}

.cdwtubesbanner .carousel-caption h6 {
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.cdwtubesbanner {
  border-bottom: 5px solid #986e12;
}

.freeze {
    position: absolute;
    right: 95px;
    width: 300px;
    -webkit-text-stroke: 1px #ffffff;
    top: 15px;
    color: #ff3d00;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    text-align: center;
    z-index: 999;
}

.cdwtubesbanner:hover> .carousel-item> .carousel-caption {
  transform: perspective(700px) rotateX(0deg);
  transition: all 0.5s ease-in-out;
}

.comman-head span {
  font-weight: 600;
  font-size: 20px;
  color: #115414;
  display: block;
  margin-top: 8px;
}

.innerpagenav {
  background: #986e12;
  padding: 15px;
}

.innerpagenav ul.pagenav {
  text-align: center;
}

.innerpagenav ul.pagenav li {
  display: inline-block;
  margin: auto 4px;
}

.innerpagenav ul.pagenav li a {
  background: #facd69;
  padding: 10px;
  display: block;
  font-weight: 600;
  border-radius: 3px;
  color: #563d04;
}

.innerpagenav ul.pagenav li a:hover {
  background: #332300;
  color: #facd69;
  border-bottom: 3px solid #facd69!important;
  border: navajowhite;
}

.innerpagenav ul.pagenav li a.active {
  background: #332300;
  color: #facd69;
  border-bottom: 3px solid #facd69!important;
  border: navajowhite;
}

section.p60.abou_t img {
  width: 100%;
}

.eurocert {
  float: right;
  position: relative;
  padding-right: 40px;
  margin-top: 5px;
  color: #2a2a86;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

.boxdesignmd:before {
  content: '';
  position: absolute;
  right: 70px;
  width: 145px;
  height: 140px;
  background: white;
  margin-top: -50px;
  z-index: -1;
  box-shadow: -8px 9px 0px #eaeaea;
}

.boxdesignmd {
  position: relative;
  z-index: 1;
  font-size: 33px;
}

.light-grey {
  background: rgb(246 246 246);
}
.dark-grey{background:#f0f0f0;}
section.p60.leadership.light-grey .home-about {
  padding-left: 20px;
  position: relative;
  padding-bottom: 10px;
}

section.p60.leadership.light-grey .home-about:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100px;
  border-radius: 6px;
  height: 30px;
  background: #986e12;
  z-index: 9;
  box-shadow: -8px 9px 0px #facd69;
}

.milestone {
  padding-top: 60px;
  padding-bottom: 60px;
}

.milestone .milestonebody {
  overflow: auto;
  padding: 29px 60px;
}

.milestone .milestonebody ul {
  display: grid;
  grid-template-columns: 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666% 6.666666666666666%;
  grid-column-gap: 4px;
}

.milestone .milestonebody ul li {
  height: 300px;
  position: relative;
}

.milestone .milestonebody ul li:nth-child(1) {
  margin-top: 210px;
}

.milestone .milestonebody ul li:nth-child(2) {
  margin-top: 195px;
}

.milestone .milestonebody ul li:nth-child(3) {
  margin-top: 180px;
}

.milestone .milestonebody ul li:nth-child(4) {
  margin-top: 165px;
}

.milestone .milestonebody ul li:nth-child(5) {
  margin-top: 150px;
}

.milestone .milestonebody ul li:nth-child(6) {
  margin-top: 135px;
}

.milestone .milestonebody ul li:nth-child(7) {
  margin-top: 120px;
}

.milestone .milestonebody ul li:nth-child(8) {
  margin-top: 105px;
}

.milestone .milestonebody ul li:nth-child(9) {
  margin-top: 90px;
}

.milestone .milestonebody ul li:nth-child(10) {
  margin-top: 75px;
}

.milestone .milestonebody ul li:nth-child(11) {
  margin-top: 60px;
}

.milestone .milestonebody ul li:nth-child(12) {
  margin-top: 45px;
}

.milestone .milestonebody ul li:nth-child(13) {
  margin-top: 30px;
}

.milestone .milestonebody ul li:nth-child(14) {
  margin-top: 15px;
}

.milestone .milestonebody ul li:nth-child(15) {
  margin-top: 0px;
}

.milestone .milestonebody ul li:before {
  height: 300px;
  width: 4px;
  content: '';
  position: absolute;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.milestone .milestonebody ul li:after {
  height: 10px;
  width: 10px;
  left: -3px;
  border-radius: 50px;
  top: -7px;
  content: '';
  position: absolute;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.milestone .milestonebody ul li span.yearbox {
  display: block;
  font-family: 'Quicksand';
  position: absolute;
  left: -34px;
  color: white;
  bottom: -20px;
  transform: perspective(100px) rotateX(60deg);
  border-radius: 5px;
  box-shadow: 0px 0px 0 5px rgb(227 227 227 / 17%), 0px 0 0px 0 rgb(135 117 37 / 58%), 0px 5px 0px 0 rgb(194 181 109 / 37%);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  font-size: 24px;
  padding: 16px 10px 9px;
  font-weight: 900;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.milestone .milestonebody ul li span.milestextbox {
  display: block;
  position: absolute;
  left: 4px;
  border-radius: 0px 10px 0px 0px;
  top: 5px;
  box-shadow: 0px 20px 100px rgb(0 0 0 / 10%);
  transition: 0.5s ease all;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  font-size: 12px;
  padding: 5px;
  line-height: 1.4;
  font-weight: 700;
  color: white;
}

.milestone .milestonebody ul li:hover>span.milestextbox {
  transform: rotate(0deg) scale(.8) translateY(0px);
  left: -3px;
}

.milestone .milestonebody ul li:hover>span.yearbox {
}

.leadership img {
  width: 100%;
  border-radius: 10px;
}

.leadership .boxdesignmd:before {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 30px;
  border-radius: 5px;
  height: 100px;
  background: #986e12;
  /* margin-top: -50px; */
  z-index: -1;
  box-shadow: -8px 9px 0px #facd69;
}

/* ============cwd================= */
ul.liststyle {
  margin-left: 0;
  padding-left: 19px;
  position: relative;
}

ul.liststyle li {
  margin-bottom: 15px;
  font-weight: 500;
  /* line-height: 1.5; */
}

.boxview li {
    background: #fafafa;
    padding: 10px;
    border: 3px solid white;
    border-radius: 0;
    margin-left: 0;
    overflow: hidden;
}

.boxview li img {
    border-radius: 3px;
    margin-bottom: 5px;
}

.boxview li:hover>img {
    transform: scale(1.5);
}

.boxview li {
    overflow: hidden;
}

.border-1-grey {
    border: 4px solid #f6f6f6 !important;
}

.boxview li:nth-child(1) {
    border-left: 0 !important;
    padding-left: 21px !important;
}

.boxview li:hover>img {
    /* transform: scale(1.1); */
}

.boxview li:hover {
    background: white;
}

.boxview li strong {
    display: block;
    text-align: left;
    text-transform: capitalize;
}

.f-24 {
    font-size: 24px;
}
ul.liststyle li:before{
  content:'';
  background: url('../../assets/bulletpoint.png');
  width: 15px;
  background-size: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  margin-top: 8px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row-design div, .row-reverse div {
    overflow: hidden;
}

.text-left {
    text-align: left;
}
.row-design:hover, .row.row-reverse:hover{
    background: #ffffff;
}
.row-design:hover>div>img, .row.row-reverse:hover>div>img {
    transform: scale(1.5);
}

.productcapebilties .row-reverse {
  background: white !important;
  padding: 20px;
  border-radius: 10px;
}

.productcapebilties .row {
  background: #eaebeb;
  padding: 20px;
  border-radius: 10px;
}

.image img {
  max-width: 100%;
  border-radius: 0;
}

.loupe {
  display: none;
  position: absolute;
  width: 300px;
  height: 200px;
  border: 5px solid black;
  box-shadow: 5px 5px 12px black;
  background: rgba(0, 0, 0, 0.25);
  cursor: crosshair;
  overflow: hidden;
}

.loupe img {
  position: absolute;
  right: 0;
}

.pdfbox {
  border-radius: 1em;
  perspective: 600px;
  background: #393333;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.25), 0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 9;
  padding: 10px;
  margin-top: 20px;
}

.pdfbox:hover {
  background: #4c3939;
}

.pdfbox img {
  width: 100px;
  margin-top: 5px;
}

.pdfbox a {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 15px 10px 10px;
  font-weight: 900;
  color: aliceblue;
}

.pdfbox a span.Date {
  display: block;
  font-size: 14px;
  position: relative;
  color: #a7a7a7;
  border-bottom: 1px dashed #4f4f4f;
  padding-bottom: 5px;
  margin-bottom: 4px;
}

@keyframes gallery {
  0% {
      opacity: 1;
  }

  25% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  75% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
/* ===========end============= */
.gallery-container {
  position: relative;
  max-width: 600px;
  height: 410px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  tranform: translate3d(0,0,0);
}

.gallery-container img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  max-width: 100%;
  animation-name: gallery;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timimg-function: linear;
}

.gallery-container img:nth-of-type(1) {
  z-index: 4;
}

.gallery-container img:nth-of-type(2) {
  animation-delay: 2.5s;
  z-index: 3;
}

.gallery-container img:nth-of-type(3) {
  animation-delay: 5s;
  z-index: 2;
}

.gallery-container img:nth-of-type(4) {
  animation-delay: 7.5s;
  z-index: 1;
}

/* -------------------------- */
.justify {
  text-align: justify;
}

.borde_r {
  border: 1px solid #eee;
  padding: 9px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

ul.cp_app li {
  width: 31%;
  display: inline-block;
  list-style: decimal!important;
  background-color: #bebebe;
  margin-bottom: 10px;
  padding-left: 9px;
  color: #000;
  font-weight: 600;
}

.certific_ation {
  margin-bottom: 18px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 204, 204);
  border-image: initial;
  border-radius: 5px;
}

ul.dropdown-menu.sub_minu {
  left: 99%;
  top: 0;
}

.dropdown-toggle.quali_ty::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 3px;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 6px;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

ul.dropdown-menu.sub_minu a.dropdown-item {
  /* white-space: break-spaces; */
  font-size: 12px;
}

a.quali_ty.dl_f {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

a.quali_ty.dl_f {
  display: flex;
  align-items: center;
  font-size: 12px;
}

ul.dropdown-menu.sub_minu a.dropdown-item::active {
  background-color: #eee;
}

ul.dropdown-menu.sub_minu a.dropdown-item::focus {
  background-color: #eee;
}


/* =============5-8-20============= */
.h_forging{
  font-size: 22px;
    font-weight: bold;
    color: #fff;
}
h3.exp_h.a_p{
  background-color: #000000ab;
  /* background-color: #eeeeee8f; */
  margin-bottom: 0!important;
  bottom: 0!important;
  
}

/* ===============sunday================== */
.mt_gread ul {}
.mt_gread ul li { display: flex;    border-bottom: 1px solid #d5d0d0;  padding: 6px 0;}
.mt_gread ul li .left_sp{width: 28%;font-weight: 700;}
.mt_gread ul li .right_sp{width: 70%;padding-left: 12px;}
li.production b {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
  /* text-decoration: underline; */
  /* padding: 1px 0; */
  /* line-height: 28px; */
  border-bottom: 2px solid #ff9c00;
  color: #ff9c00;
}

/* ===============7-8-23================ */
.approvial a img{
  width: 100%;
}


.approv_al{
  margin-bottom: 15px;
}

.oil_gas {
  display: flex;
  gap: 15px;
  row-gap: 15px;
  column-gap: 15px;
  background-color: #efefef;
  margin-bottom: 10px;
  color: #000;
}
.oil_gas .plant_n{
  width: 30%;
  font-weight: bold;
  color: #fff;
  background-color: #6b6b6b;
  /* margin-bottom: 10px; */
  padding-left: 10px;
}
.oil_gas .plant_used{
  width: 70%;
}
ul.ind_us li {
  list-style: circle;
  color: #000;
  font-weight: 700;
}
ul.ind_us {
  padding-left: 3%;
}

ul.for_gbar li {
  list-style: none;
  display: flex;
  gap: 10px;
  color: #000;
}
ul.for_gbar li span {
  color: #de5c11;
  font-weight: 700;
}

.produ_ct .p_im_g {
  padding: 14px;
}

a.d_btn {
  background-color: #06600e;
  padding: 9px 27px;
  border-radius: 25px;
  color: #fff;
  font-size: 19px;
}
.text-center.downl_oad {
  padding: 15px 0;
}

.lagacy h1 {
  font-size: 302px;
  background: -webkit-linear-gradient(#f1b900, rgb(0 0 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.9;
}
.lagacy p {
  font-size: 46px;
  font-style: italic;
  font-family: math;
  text-align: right;
}
section.awards1 {
  position: relative;
  border-bottom: 2px solid #d8d7d7;
  /* background-image: url(../../assets/PipesAndTubes/banner/capiblity.png); */
  background-size: 100% 100%;
}
.brand__awards img.w100{
  padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

 
/* section.awards1::after{ */
  /* content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgb(255 255 255 / 90%); */
.timeline ul {
  padding: 30px 0;
}
.timeline ul li {
  background: #987500;
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 0px;
  list-style-type: none;
}
.timeline ul li:last-child {
  padding-bottom: 7px;
}
.timeline ul li:before {
  content: "";
  background: #faf8eb;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #987500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.timeline ul li .hidden {
  opacity: 0;
}
.timeline ul li .content {
  background: #67CC8E;
  position: relative;
  top: 7px;
  width: 600px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  z-index: 14;
  box-shadow: 7px 6px 15px 0px rgba(0,0,0,0.25);
}
.timeline ul li .content *{
    color: #fff;
}
/* ***************** non vosible elements ***************** */
.timeline ul li .content.non-focus::before{
    display: none;
}
.timeline ul li .content.non-focus{
    transform: rotate(20deg);
    opacity: 0.4;
    filter: blur(5px);
    z-index: 11;
}
/* ***************** non vosible elements ***************** */

.timeline ul li .content {
    color: #d2d2d2;
    background: #e6e6e6;
}
.timeline ul li .content p {
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
}
.timeline ul li .content:before {
  content: "";
  background: inherit;
  position: absolute;
  top: 0px;
  width: 10px;
  height: 5px;
}
.timeline ul li:nth-child(odd) .content {
  left: 18px;
  background: #987500;
  border-radius: 0px 4px 4px 4px;
}
.timeline ul li:nth-child(odd) .content:before {
  left: -7px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-600px - 16px);
  background: #2b2929;
  border-radius: 4px 0px 4px 4px;
}
.timeline ul li:nth-child(even) .content:before {
  right: -10px;
}
/* **** custom css*/
.timeline ul li:nth-child(even) .content .timeline-content-info{
    background: black;
}
.timeline ul li:nth-child(even) .content .content-skills span{
    background: #4e4e4e;
}
.timeline-content-info{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-family: 'Philosopher';
    margin-bottom: 8px;
    font-size: 20px;
    border-radius: 4px;
    padding: 2%;
    background-color: #463704;
}
.content-skills{
    margin: 15px 0px 0px 0px;
}
.content-skills span{
    background: #6c521a;
    border-radius: 4px;
    padding: 7px;
}
/*****************/
/* -------------------------
   ----- Media Queries ----- 
   ------------------------- */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }

  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}
@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
    background: #01016f;
    border-radius: 0px 4px 4px 4px;
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }


}




.table-responsive{
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 11%);
    overflow: auto;
}
.table-height{max-height:600px}
.table-responsive h4 {
    font-family: 'Poppins';
}
.table{
    background: #fbf7ac;
    font-size: 13px;
    margin-bottom: 0;
    white-space: nowrap;
}

table thead tr th{
    white-space: nowrap;
    position: sticky;
    top: -10px;
    vertical-align: middle;
    background-color: #b78f36 !important;
    border: 4px solid white;
    border-radius: 0px;
}
table tr:nth-child(even) {background-color: #fffcc9;}
table thead tr th p{
    margin: 0 !important;
    font-size: 14px;
    color: #432d0f;
    text-align: left;
    line-height: 1.3;
}
table tbody tr td p {
    margin: 0 !important;
    text-align: left;
    line-height: 1.4;
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Quicksand';
}
table tbody tr td  {
    vertical-align: middle;
    border: 4px solid white;
    box-shadow: none !important;
    padding: 0.3rem 0.4rem !important;
    border-bottom-width: 0px !important;
    margin: 0 !important;
}
.table>tbody>tr>th{
    background-color: #ddb55e;
    text-align: left;
    border: 3px solid white;
}

.table>tbody>tr>th>p {
    /* font-family: auto; */
    font-size: 15px;
    margin-bottom: 0px !important;
    color: black;
}
table tr td:hover {
    background: #a47e10;
    color: white;
    cursor: pointer;
}

table tr td:hover>p {
    color: white;
}

table tr th:hover {
    background-color: #4c3902 !important;
}

table tr th:hover>p {
    color: antiquewhite;
}
.un_it img {
  filter: hue-rotate(204deg);
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 12px 0px;
  box-shadow: 5px 5px 0px 0px rgb(227 227 227);
  FONT-WEIGHT: 100;
  background: white;
  padding: 17px 15px;
  /* border: 1px dashed #c8c8c8; */
  position: relative;
  border-radius: 5px;
}

.counter-container span {
    font-size: 20px;
    font-family: var(--tp-fw-black);
    font-weight: 800;
    color: #4b4b4b;
}

.counter-container>div>span>span {}

.counter {
  font-size: 33px;
  margin-top: 10px;
  font-family: var(--tp-ff-p);
  font-weight: 800;
  position: relative;
  color: #1c1600;
}

span.shorts {
    position: absolute;
    font-size: 17px;
    font-weight: 800;
    top: 25px;
    color: #000000;
}

span.shorts.left-short {
    right: 50px;
}

span.shorts.left-long {
    right: 40px;
}


.pre-rel {
  font-size: 16px;
  color: #333;
  border: 1px solid #e2e2e2;
  padding: 10px 0 10px 15px;
  margin: 10px 0 0 0;
  font-weight: 700;
  background: #ebebeb;
}

.ins-det {}

.pre-rel {}

.pre-rel a {
  color: #333;
}

.pre-rel a:hover {
  color: #e4231e;
}

.pre-rel:hover {
  background: #ededed
}

.sh-info {
  font-size: 17px;
  font-weight: 800;
  color: #dd231e;
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin: 10px 0 0 0;
  background: #f3f3f3;
  /* font-family: Trebuchet MS; */
  /* text-transform: uppercase; */
}

.sh-info a {
  color: #4f4f4f;
}

.sh-info a:hover {
  color: #e4231e;
}

.sh-info:hover {
  background: #ededed
}

.fa-file-pdf-o {
  color: #848484;
  background: #fff;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  margin-right: 5px
}

.dn-info {
  font-size: 16px;
  font-weight: 800;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 800;
  color: #dd231e;
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin: 10px 0 0 0;
  background: #f3f3f3;
}

.dn-info a {
  color: #4f4f4f;
}

.dn-info a:hover {
  color: #e4231e;
}

.indes b {
  font-size: 26px;
  color: #000;
  margin-bottom: 8px;
    display: block;
}

.forgung_m {
    margin-bottom: 18px;
    padding-bottom: 0px!important;
    border-bottom: 2px solid #f1f1f1;
}

h2.unit_color {
  font-size: 24px;
}

/* ============11-8-23================= */
ul.liststdyle{
  padding-left: 3%;
}
ul.liststdyle li {
  list-style: disc;
}
.key_requ li {
  list-style: disc;
}
ul.key_requ {
  margin-bottom: 15px;
  padding-left: 2%;
}
.leader_ship{
  position: relative;
}
h5.leader span {
  display: block;
  font-size: 20px;
}

h5.leader {
  font-size: 24px;
  /* position: absolute; */
  font-weight: bold;
  text-align: center;
  margin-top: -44px;
  /* left: 21%; */
  bottom: -12px;
  line-height: 0.9;
  margin-left: -80px;
}
.app_lication ul.area_list {
  margin-top: 3px;
}
.cdw {
  text-align: left;
}

.cdw {
  text-align: left;
}
.bh_ight{
  height: 200px;
}
/* ==========12-8-23============= */
.cloent ul li {
  display: inline-block;
  margin-bottom: 9px;
  border: 1px solid #eeeeee96;
  width: 16.2%;
}
.cloent ul{
  text-align: left;
}

.invstor{
position: relative;
padding-left: 3%;
}

.invstor::before{
  content: "";
  background: #e39d18;
  width: 48px;
  height: 40px;
  /* left: 0; */
  left: 23px;
  /* margin: auto; */
  position: absolute;
  bottom: 3px;
  z-index: -1;
}
.bg_trans{
  background-color:transparent!important;
}
.bg_trans span{
  color: #000;
  display: block;
  font-size: 1.11rem;
  font-weight: bold;
}
.bg_trans img{
  width: 70%;
}

.in_tab li {
  list-style: none;
  width: 19%;
}

.b_bone{
  border: none;
  background-color: transparent;
}

/* .inves_tor{
  position: relative;
  background-image: url('../../assets/img/about/qrcode.jpg');
} */

  .inves_tor {
    position: relative;
    background-image: url(../../assets/img/about/qrcode.jpg);
    background-size: 100% 100%;
    z-index: 1;
    /* padding: 11% 0; */
    height: 100vh;
    padding: 1rem 0rem 10rem 0rem;

}
.inves_tor::before{
  content: "";
  background: #fcfcfbd9;
  width: 100%;
  height: 100%;
  /* left: 0; */
  left: 0;
  /* margin: auto; */
  position: absolute;
  top: 0;
  z-index: -1;
}





/* ============media-queris=============== */
@media screen and (max-width: 1460px) {
  .lagacy h1 {
    font-size: 280px!important;
    text-align: center;
  }
  span.shorts.left-long {
    right: 9px!important;
}
span.shorts.left-short {
  right: 18px;
}



}
@media screen and (max-width: 1260px) {
  .lagacy h1 {
    font-size: 227px!important;
    text-align: center;
  }
  .contact_det h3{
    font-size: 1.1rem!important;
  }

}

@media screen and (max-width: 1220px) {
  .bg_trans span {
    height: 60px;
  }
  .counter {
    font-size: 20px;
  }
  .counter-container span {
    font-size: 16px;
  }


.lagacy.wow.fadeInUp {
    margin-top: 9%;
}

}
/* ----------end}------ */



@media screen and (max-width: 992px) {
  .bg_trans span {
    font-size: 1rem;
  }
  .innerpagenav ul.pagenav li {
    margin-bottom: 7px;
  }
  .lagacy h1 {
    font-size: 10rem!important;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
    }
    .lagacy.wow.fadeInUp {
      margin-top: 2rem;
  }
  

}

@media screen and (max-width: 500px) {
  .counter {
      font-size: 15px;
      margin-top: 7px;
      line-height: 1.3;
}

.span.shorts.left-long {}
.counter-container span {
  font-size: 10px;
  line-height: 1.4;
}
span.shorts.left-long{
  top: 15px;
  font-size: 9px;
  right: 17px !important;
}

span.shorts.left-short {
    right: 53px;
    top: 15px;
}
.lagacy h1 {
  font-size: 7rem !important;
  text-align: center;
  line-height: 88px;
  margin-bottom: 0px !important;
  margin-top: 0;
}
.lagacy p{
  font-size: 15px;
  padding-right: 4.6rem;
  margin-bottom: 0 !important;
}
.side-menu-icon i {
  color: #000;
}
.sec_title h1, h1.left_heading {
  font-size: 18px!important;
  padding-bottom: 1.5rem;
  font-weight: 800;
  margin-bottom: 0;
}
.left_heading::after{
  bottom: 10px;
}
body {
  font-size: 14px;
}

.cdwtubesbanner h5{
  font-size: 18px;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
  margin-top: 1.3rem;
}
.contact form {
  display: block!important;
}
.contact form button, .contact form input, .contact form textarea{
  padding: 0.5rem 1em!important;
}
.contact_map {
  display: block;
  padding: 23px 0;
  width: 94%;
  margin: auto;
}
.innerpagenav ul.pagenav li {
  margin-bottom: 7px;
}




}
.imgrbnleft{
    left: 11px;
    top: 0px !important;
}

.imgrbnright {
    right: 11px !important;
    top: 0px !important;
}

.imgrbnleft span {
    left: -21px;
    transform: rotate(-45deg) !important;
}





/* -------endnedia---------- */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: left;
}
.ribbon span {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.ribbon span::before {
  content: '';
  position: absolute; 
  left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: '';
  position: absolute; 
  right: 0%; top: 100%;
  z-index: -1;
  border-right: 3px solid #79A70A;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#f7b305 0%, #8f5708 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}