

:root{
  --color-default-rgb: 33, 37, 41;
}
.contant {
  padding-top: 4%;
}
.carousel-caption.d-md-block.cp {
  width: 100%;
  left: 0;
  bottom: 4%;
  background-color: #0f4a339e;
}
ul.pro_duct {
  padding-left: 1%;
  padding-top: 1%;
}

.comman-head h2 {
  text-align: left;
  font-size: 30px;
  color: #FF9C00;
  /* text-transform: uppercase; */
  padding-bottom: 30px;
  display: block;
  position: relative;
}
h3.h_cdw {
margin: 0;
line-height: 42px;
padding-left: 6px;
padding-top: 2px;
font-size: 35px;
margin-left: 6px;
border-left: 2px solid #001;
}

h1 {
  font-size: 26px;
}
.h_for{
font-size: 14px;
  font-weight: bold;  width: 90%;  padding-left: 6px;   border-left: 2px solid #3a3838;  margin-left: 5px;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
display: block;
border-radius: 0;
margin-top: -1px;
}
ul.dropdown-menu li {
width: 100%;
margin: 0;
/* padding: 0 14px; */
}
ul.dropdown-menu li a{
padding: 7px 10px;
  border-bottom: 1px solid #eee;

}
.about_banner{
  background-image: url('../img/about/a_banner.png');
  background-size: cover;
}

 
  .tab_sec {
      background-color: #ffffff;
      /* margin-bottom: 2%; */
      border-bottom: 2px solid #919090;
  }
.res{
  width: 100%;
}
.header__sticky .main-menu ul li a {
  color: #000!important;}
  .header__sticky .header__sm-action-item i {

      color: #000!important;;
  }
.comman-head h2:after {
  content: "";
  background: #CFCFCF;
  width: 80px;
  height: 3px;
  left: 0;
  right: 0;
  /* margin: auto; */
  position: absolute;
  bottom: 15px;
}
.quality-products {
  text-align: right;
  padding: 0 20px;
}
.quality-products h4 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 27px;
  color: #3D3D3D;
  /* font-family: 'Circular Std'; */
}
.home-about {
  padding: 0px 0px;
}
.home-about blockquote {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #3D3D3D;
  font-weight: normal;
  /* font-family:  ; */
}
.home-about p {
  color: #3D3D3D;
  font-weight: normal;
  line-height: 22px;
  margin: 15px 0 25px;
  text-align: justify;
}
.read-more a {
  width: 36px;
  height: 36px;
  background: url(../images/plus.png);
  display: inline-block;
  text-indent: -9999px;
  border: 1px solid #ddd;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.quality-products h4:after {
  background: #fb9c01;
  width: 190px;
  height: 4px;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.facility h5 {
  font-size: 6.5rem;
  color: #fb9c01;
  line-height: 6.5rem;
  margin: 0px;
}
.facility h6 {

  color: #3D3D3D;
  font-weight: normal;
}
.read-more a {
  width: 36px;
  height: 36px;
  background: url(../img/about/plus.png);
  display: inline-block;
  text-indent: -9999px;
  border: 1px solid #ddd;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.read-more a:hover {
  background: #fb9c01 url(../img/about/plus.png);
  border-color: #fb9c01;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

/* csr */
.news-detail h3 {
  font-size: 26px;
  margin-bottom: 20px;

  color: #3D3D3D;
  font-weight: normal;
}
.news-1.blue-box {
  padding: 30px;
  width: 100%;
  height: 100%;
}
.blue-box {
  background: #041e4f;
}
.news-1.blue-box h3 {
  color: #fff;
}
.news-detail h3 {
  font-size: 26px;
  margin-bottom: 16px;

  color: #3D3D3D;
  font-weight: normal;
}
.news-1.blue-box p {
  color: #fff;
  font-size: 12px;
}
.news-1.blue-box p {
  color: #fff;
}
.news-detail p {
  margin-bottom: 20px;
  color: #3D3D3D;
  font-weight: normal;
  line-height: 22px;
}
/* --------footer--------- */


.footer-detail h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Circular Std Book';
}
.footer-detail p {
  color: #000;
  font-weight: 400;
  margin-bottom: 31px;
  font-size: 14px;
}
h5.heading_fooetr {
  color: #000;
}
ul.footer_link li {
  list-style: none;
}
footer.footer a:hover{
  color: #fb9c01;
}
footer.footer a {
  color: #000;
  font-weight: normal;
  margin-bottom: 2px;
  padding: 3px 0;
  display: inline-block;
}
.copy-text p {
  margin-bottom: 0;
}
p.text-end {
  margin-bottom: 0;
}
.copyright {
  padding: 1% 0;
  border-top: 1px solid #eee;
}
.tel-phone img {
  margin-right: 10px;
}
footer.footer {
  /* background: #ffffff; */
  margin: 0;
  border-top: 1px solid #eee;
  padding: 50px 6%;
  padding-bottom: 0;
}
p.text-white.detail {
  font-size: 14px;
}

.ne_w a {
  padding: 12px 22px!important;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 12%;
}
button.Enquire{
  background-color: #f9f3f3;
  color: #000!important;
  padding: 6px 14px;
  width: 100%;
  border-radius: 5px;

}
button.Feed_Back{
  background-color: #3cb15b;
  color: #ffffff!important;
  border-radius: 5px;
  padding: 6px 14px;
  width: 100%;
}

p.text-white.white {
  font-size: 14px;
}


/* -------about--------- */
.h_padding {
  padding: 5% 0;
}
.p60{
  padding: 5% 0;
}
.pb1{
  padding-bottom: 1%;
}
.pb2{
  padding-bottom: 2%;
}
.pb3{
  padding-bottom: 3%;
}
.pb4{
  padding-bottom: 4%;
}
.pb5{
  padding-bottom: 5%;
}
.pt1{
  padding-top: 1%;
}
.pt2{
  padding-top: 2%;
}
.pt3{
  padding-top: 3%;
}
.pt4{
  padding-top: 4%;
}
.pt5{
  padding-top: 5%;
}
.sec_title h1 {
  padding-bottom: 2%;
}
.h_padding{
  position: relative;
}
.h_padding:after {
  border-top: 3px solid #f67519;
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: 3%;
  left: 0;
  /* right: 0; */
  bottom: 11px;
  width: 150px;
  z-index: -1;
}
section.bream_banner {
  background-color: #eee6;
}
.r5{
  border-radius: 5px;
}
.about_img{
  overflow: hidden;
  position: relative;
}
.about_img img:hover{
transform: scale(1.2);
transition: 2s ease-in-out;
}
.pos{
  position: relative;
}
img.res.trust.r5 {
  position: absolute;
  width: 15%;
  right: -10%;
  z-index: 11;
  top: 32%;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0px 3px 2px 0px #433e3e63;
}
img.res.trust.r5:hover{
  transform: translateY(-10px);
}
a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  transition: all 0.5s ease-in-out;
}

.we-are-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;

}


#about-us-section {
  background: #0c4c91;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2% 0;
}



.about-us-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}





.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-right: 850px;
  margin-left: 12px;
  z-index: 2;
}

.about-us-info h2 {
  color: white;
  font-size: 30pt;
  text-align: right;
}


.about-us-info p {
  color: white;
  font-size: 14pt;
  text-align: right;
}


.about-us-info a {
  background-color: white;
  color: #0c4c91;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-us-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

#history-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}



.history-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 820px;
  height: 100%;
  overflow: hidden;
}


.history-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-left: 850px;
  margin-right: 12px;
  z-index: 2;
}



.history-info h2 {
  color: #0c4c91;
  font-size: 40pt;
  text-align: left;
}

.history-info p {
  color: #0c4c91;
  font-size: 14pt;
  text-align: left;
}


.history-info a {
  background-color: #0c4c91;
  color: white;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

.center_heading hr {
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 1;
  width: 13%;
  margin: auto;
}
.bg_img{
  background-image: url(../img/about/fixedbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 11;
  position: relative;
}

.bg_img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000000c4;
}
.area{
  background-image: url(../img/gallery/bg2.png);
  background-size: cover;
  background-attachment: fixed;
  z-index: 11;
  position: relative;
}

.area::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000000c4;
}
.matel_contant p {
  color: #fff;
  text-align: center;
}
section.about_banner {
  padding: 10% 0;
  background-color: #eee;
}
h1.center_heading {
  color: #fff;
}
.bg_light{
background-color: #e7e7e7de;
}
.bg_gray{
  background-color: #eaeaea;
  }
  .insprir p{
      text-align: justify;
  }
  .bream_banner p{
      text-align: justify;
  }
.left_heading::after{
  border-top: 3px solid #f67519;
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: 3%;
  left: 0;
  /* right: 0; */
  bottom: 0px;
  width: 150px;
  z-index: 1;
}
.exp_countery {
  padding: 3% 0 0 0;position: relative;
}
.exp_c li{
  list-style: none;
  display: inline-block;
  width: 23.8%;
  background-color: #fff;
  margin-bottom: 21px;
  text-align: center;
  /* white-space: nowrap; */
 
  font-size: 16px;
  color: #6b6666;
  margin: 0 0 21px 5px;
  font-weight: bold;
  /* border-radius: 40px;
  box-shadow: 0px 1px 4px 0px #8b848475; */

}
ul.exp_c a.tp-btn-ts {
  height: 47px;
  line-height: 46px;
  width: 100%;
  box-shadow: 0px 1px 4px 0px #8b848475;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.insprir p{
  margin-bottom: 4px;
}
.insp_gallery {
  margin-bottom: 22px;
}
ul.exp_c {
 text-align: center;
}
/* ----=======-zoom---========----- */
#gallery {
  padding-top: 40px;
}
ul.area_list {
  list-style: none;
  padding: 0;
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
 
#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}


#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}

/* ------------about2---------- */
/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f67519;
  background-color: #fff;
  border-color: #f67519 #f67519 #f67519;
  font-weight: bold;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #f67519;
  background-color: #fff;
  border-color: #f67519 #f67519 #f67519;
  isolation: isolate;
} */



/* -------29-7-23--------- */
h5.p_ro {
  font-size: 20px!important;}

.pipes p {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}
.pipes p.number {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}
.gray.pipes {
  padding: 5px 0 !important;
}
ul.units {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #00AAB4 !important;
  padding: 12px 0;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff!important;
  background-color: transparent!important;

  border: none!important;
}
.units li.nav-item button {
  color: #fff!important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #fff!important;
  background-color: transparent;
  border: none!important;

}
.tab-content {
  background-color: transparent!important;
  padding: 15px;
  -webkit-mask-origin: padding-box;
  box-shadow: none!important;
  border-radius: 5px;
}

/* ------29-7-23---------- */




ul li{
  list-style: none;
}
ul.number {
 padding-left: 2%;
}
ul.number li {
  list-style: decimal;
}
.exp_im img{
  width: 100%;
}
.exp_im.pos h3 {
  position: absolute;
  bottom: 0;
  width: 100%!important;
  text-align: center;
  margin: 0;
  background-color:  #ff8100a1;
  padding: 6px 0;
  color: #fff;
}
.exp_c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color:#422800e8;
  text-align: center;
  padding: 19% 0;
  opacity: 0;
}
.exp_img:hover .exp_c{
  opacity: 1  ;
} 
img.equl {
  height: 300px;border-radius: 5px;
  width: 100%;    margin-bottom: 34px;
}
img.equl4 {
  width: 100%;border-radius: 5px;
  height: 228px;
}
 
/* ---
----about--------- */


/* ---------------group-about-------------- */
section.p60.abou_t {
  background-color: #fbfbfb;
}

.light-grey {
    background: #f6f6f6;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
font-family: 'Karla', sans-serif;
font-size: 16px;
color: #666;
position: relative;
-webkit-font-smoothing: antialiased;
margin: 0;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}



.sectionClass {
/* padding: 20px 0px 50px 0px; */
position: relative;
display: block;
}

.fullWidth {
width: 100% !important;
display: table;
float: none;
padding: 0;
min-height: 1px;
height: 100%;
position: relative;
}


.sectiontitle {
background-position: center;
/* margin: 30px 0 0px; */
text-align: center;
min-height: 20px;
}

.sectiontitle h2 {
font-size: 30px;
color: #FF9C00;
margin-bottom: 0px;
text-transform: uppercase;
padding-right: 10px;
padding-left: 10px;
}


.headerLine {
width: 160px;
height: 2px;
display: inline-block;
background: #FF9C00;
}


.projectFactsWrap{
  display: flex;
/* margin-top: 30px; */
flex-direction: row;
flex-wrap: wrap;
}


#projectFacts .fullWidth{
padding: 0;
}

.projectFactsWrap .item{
width: 25%;
height: 100%;
padding: 50px 0px;
text-align: center;
}

.projectFactsWrap .item:nth-child(1){
background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number{
font-size: 40px;
padding: 0;
font-weight: bold;
}

.projectFactsWrap .item p{
color: rgba(255, 255, 255, 0.8);
font-size: 18px;
margin: 0;
padding: 10px;
font-family: 'Open Sans';
}


.projectFactsWrap .item span{
width: 60px;
background: rgba(255, 255, 255, 0.8);
height: 2px;
display: block;
margin: 11px auto 0;
}


.projectFactsWrap .item i{
vertical-align: middle;
font-size: 50px;
color: rgba(255, 255, 255, 0.8);
margin-bottom: 20px;
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
color: white;
}

.projectFactsWrap .item:hover span{
background: white;
}

@media (max-width: 786px){
.projectFactsWrap .item {
   flex: 0 0 50%;
}
}

/* AUTHOR LINK */






.about-me-img {
width: 120px;
height: 120px;
left: 10px;
/* bottom: 30px; */
position: relative;
border-radius: 100px;
}


.about-me-img img {
}


.authorWindow{
width: 600px;
background: #75439a;
padding: 22px 20px 22px 20px;
border-radius: 5px;
overflow: hidden;
}

.authorWindowWrapper{
display: none;
left: 110px;
top: 0;
padding-left: 25px;
position: absolute;
}

.trans{
opacity: 1;
-webkit-transform: translateX(0px);
transform: translateX(0px);
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
transition: all 500ms ease;
}
/* -----end----- */
.produ_ct {
  text-align: center;
  border-radius: 5px;
  border:1px solid #9f9b9b;
}
.p_color{
color: #302e2e;
}
.p_im_g{
  overflow: hidden;
  position: relative;
}
.p_im_g img:hover{
transform: scale(1.2);
z-index: 1;
transition: 2s ease-in-out;

}
.produ_ct:hover{
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1) ;
  transition: 1s, ease-in-out;
background-color: #fff;
}
.produ_ct:hover .p_im_g {

  margin: 6px 6px 0px 6px;
}
/* .produ_ct:hover .p_im_g img {
  transform: scale(1.2);
  transition: 2s ease-in-out;
  margin: 6px;
} */
.produ_ct:hover.produ_ct h3{
color: #eb8f05;
}
.produ_ct img{
 border-radius: 5px;
 padding-bottom: 0;
}
.produ_ct h3 {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size:16px;
}
.carousel-caption.d-none.d-md-block.c1 {
top: 30%;
left: 9%!important;
text-align: left;
width: 33%; border-radius: 5px;
/* background-color: #074400!important; */
/* background-color: #c7782e!important; */
height: max-content;

padding: 29px;
/* border: 2px solid #eee; */
/* box-shadow: 0px 2px 3px 2px #a8aa9e; */
}
/* .carousel-caption.d-none.d-md-block.c1 h5{
color: #0c3e00;
}
.carousel-caption.d-none.d-md-block.c1 p{
color: #0c3e00;
} */
.carousel-caption.d-none.d-md-block.c3 {
left: 56%!important;
top: 30%; border-radius: 5px;
right: 9%;
/* border: 2px solid #eee; */
/* background-color: #00000080; */
height: max-content;
padding: 29px;
/* box-shadow: 0px 2px 3px 2px #a8aa9e; */
}

.carousel-caption.d-none.d-md-block.c5 {
  left: 7%!important;
  top: 30%;
  border-radius: 5px;
  right: 9%;
 
  height: max-content;
  padding: 29px;
   
}
.carousel-caption.d-none.d-md-block.c2.pipes {
  width: 43%;
}

.carousel-caption.d-none.d-md-block.c2 {
top: 30%;
  left: 10%!important;
  /* border: 2px solid #eee; */
  text-align: left;
  width: 33%;
  /* background-color: #04060600!important; */
  border-radius: 5px;
  height: max-content;
  padding: 29px;
  
}
.carousel-caption h5 {
color: #fff;
font-size: 36px;
}
.carousel-caption p {color: #fff;font-size: 18px;}

/* .g_bout_e {
background-color: #c17502;
position: absolute;
width: 35%;
top: 33%;
} */

.n_tabs ul li button {
width: 100%;
margin-bottom: 20px!important;
display: block;
background-color: #fff;
box-shadow: 0px 1px 1px 0px #a99f9f;
color: #000;
}
.a_im_g img{
border-radius: 5px;
}
.brand__area{
position: relative;
z-index: 1;
background-image: url('../goodluck/product/product_bg.png');
}
.brand__area::after{
content: '';
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
z-index: -1;
border-radius: 5px;
background: rgb(255 255 255 / 90%);
}
.n_tabs ul {
display: block;
}
.n_tabs ul li button.nav-link {
border-radius: 0;
text-align: left;
padding: 7px 43px;
}
.n_tabs {
/* margin-top: 16%; */
}
.carousel-control-next-icon {
background-color: #000000;
border-radius: 25px;
padding: 9px;
}
.carousel-control-prev-icon {
background-color: #000000;
border-radius: 25px;
padding: 9px;
}
.n_tabs ul {
display: block;
}
/* ------------------------ */

.cunt p.number {color: #708090;font-size: 25px;font-family: 'Circular Std';text-transform: capitalize;}
.cunt {border-radius: 5px;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
.cunt p {font-size: 18px;font-weight: bold;font-family: 'Karla', sans-serif;text-transform: capitalize;margin-bottom: 5px;margin-top: 7px;}
.n_tabs.ews li {
display: inline-block;
/* padding: 0 44px; */
}
.cunt span {
font-size: 32px;
color: #fff;
}
.capabilities_tab{
background-color: #ebebeb;
}
.tab-content {
background-color: #fff;
padding: 15px;
-webkit-mask-origin: padding-box;
box-shadow: 0px 1px 3px 0px #000000;
border-radius: 5px;
}
.blue{
/* background-color: rgb(5 74 58 / 18%)!important; */
}
.exp_img img{
width: 100%;
height: 236px;
}

.app_img::before{
  content: "";
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: #00000070;
}

.expites{
cursor: pointer;
overflow: hidden;border-radius: 5px;
}
.exp_h{
position: absolute;
top: 58%;
/* left: 22%; */
color: #fff;
width: 100%;
text-align: center;
}
.row.product_all {
height: auto!important;
-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.all_p{
height: 560px;
overflow: hidden;
-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.all{
display: none;
}
.all_hide{
display: none;
}
.carousel-caption.d-none.d-md-block.bl{
top: 30%;
left: 10%!important;
border: 2px solid #eee;
text-align: left;
width: 33%;
background-color: #04060600!important;
border-radius: 5px;
height: max-content;
padding: 29px;
}
.carousel-caption.d-none.d-md-block.c1.new {
background-color: #00000024!important;
}
.all_show{
display: block;
}
button.v_all {
font-size: 16px;
color: #ff9c00;
border: 1px solid #ff9c00;
padding:4px 11px;
border-radius: 5px;
}
.expites:hover .exp_contant{
transform: translateX(0px);
transition: 1.5s ease-in-out;
}
section.p60.ex_pites {
background-color: #ebebeb;
}
h3.exp_h {
font-size: 20px;
}

.ex_pites .sectiontitle {
  margin-bottom: 10px;
}
.expites:hover .h3.exp_h{
display: none;
transition: 1s;
}
.exp_contant{
position: absolute;
  z-index: 119;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00140499;
  transform: translateX(-323px);
}
ul.experts {
display: flex;
gap: 10px;
}
.expites:hover .app_name{
opacity: 1;
}

.app_name {
position: absolute;
z-index: 999;
top: 0;
width: 100%;
height: 100%;
opacity: 0;
/* align-items: center; */
text-align: center;
color: #fff;
background-color: #1e1515ba;
transition: 1s ease-in-out;
}
.app_name h3{
color: #fff;
}
.app_name h3 {
color: #fff;
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
}
/* ---------------------------- */

.carousel-caption.d-none.d-md-block.bg_tr {top: 71%;left: 10% !important;text-align: justify;width: 33%;border-radius: 5px;/* background-color: #42393973  !important; */height: max-content;padding: 25px;/* border: 2px solid #eee; *//* box-shadow: 0px 2px 3px 2px #f0f0f0; */}
/* ------------------- */

.carousel-caption.d-none.d-md-block.c1.new_r {
background-color: #00000085!important;
}
/* ===========14-7-23========== */
.chart ul li {
font-size: 11px;
}

.ptb{
padding: 60px 0!important;
}
.precisi_on.p-3.mt-5 {
padding: 2.6% 3% 0 3% !important;
 
 
}
.clean {
display: flex;

align-items: center; 
}
.clean.c1{
background-color: #502717;
}
.clean.c2{
background-color: #469c45;
}
.clean.c3{
background-color: #2a6a80;
}
.clean img{
width: 100%;
margin: auto;

height: 300px;

}
.left_imf {
width: 49%;
}
.left_imf.pl-4 {
padding-left: 3%;
}
.left_imf.pl_t {
padding: 0 3%;
}
/* ----------17-7-23------------ */
.detail h6 {
color: #956e05;
}
.detail ul li {
list-style: disc;
}
.detail ul{
padding-left: 4%;
}
.proc_detail {
display: flex;
gap: 20px;
}
.h_color{
color: #956e05;
}
ul.bl_det {
padding-left: 6%;
}
.wd60{
width: 60%;
}
.wd40{
width: 40%;
}
ul.sequ {
padding-left: 3%;
}
ul.sequ li {
list-style: auto;
}

.w100{
  width: 100%;
}
/* -----18-7-22---------- */
.pt_10{
  padding-top: 30px;
}
.mt_40{
  padding-top: 40px;
}
.r_5{
  border-radius: 5px;
}

/* ---------20-7-23---------- */
/*  */
.forgung {
 

  padding: 24px;
}
.forgung p{
  color: #fff;
}
.forgung span.s_csr{
  color: #fff;
}
ul.forg_ung li {
  color: #fff;
}
.forging_main {
  display: flex;align-items: center;
}
.w40{
  
  width: 40%;
  margin-right: -8%;
  z-index: 11;
}
.w50{
  width: 50%;
}
.w60{
  width: 60%;
}
.c_enterd{
  background-color: #273e49e8;    padding: 5%;
}
.Forg_ing{
  background-color: #e5ffe6;
}

ul.csr_about {
  padding-left: 4%;
}
ul.csr_about li {
  list-style: auto;
  list-style: auto;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
span.s_csr{
  font-size: 25px;
    font-weight: bold;
    color: #000;
}
.flag_type {
  display: flex;
  justify-content: space-between;
}
.f_type ul.csr_about {
  padding-left: 28px;
}
.f_type ul.csr_about li {
  font-size: 14px;
}
.spacial ul.csr_about li {
  font-size: 14px;
}
.spacial ul.csr_about {
  padding-left: 28px;
}
section.flanges {
  padding: 60px 0;    background-color: #45dca238;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.timeline__event__description p {
 
  font-weight: 700;
  color: #000;
}
.indesturis {
  background-color: #f6f4de;
}
.certification_img h4 {
  text-align: center;
  background-color: #bc1330;
  padding: 7px 0;
  color: #fff;
}
.Machine_Shop{
  padding: 60px 1px;
  background-color: #a9e28038;
}
.h_line{
  background-color: #c9dcc5;
  color: #000;
  padding: 0 0 0 7px;
}
ul.for_cp.mb-5  {
padding-left: 25px;
}
.row_metrial p b {
  font-size: 16px;
}
ul.for_cp.mb-5 li {
  list-style: auto;
  font-weight: 600;
}
.row_met{
  padding: 60px 1px;
  background-color: #f3fff2;
}
/* .Machine_Shop{
  background-color: #a9e28038;
} */
.QualityLab{
  padding: 60px 0;
}
ul.csr_aboutq{
  padding-left: 35px;
}
ul.csr_aboutq li {
  list-style: auto;
}
ul.csr_aboutq.mb-5 {
  padding-bottom: 31px;
}
.certification_img {
  margin-bottom: 20px;
}
.conta_ct {
  padding: 60px 1px;
  background-color: #77b690;
}
.packing{
  padding: 60px 1px;
  background-color: #cdf2f8;
}
ul.csr_about.pack li {
  font-size: 14px;
  margin-bottom: 12px;
}
.deail{
  display: flex;
  gap: 10px;
  
}
.contact_map {
  display: flex;
  gap: 10px;
  padding: 23px 0;
}

/* h5.bh1 {
  color: #fdfdfd!important;
  font-size: 30px;
  text-shadow: 2px 1px #0b6177; 
  text-shadow: 2px 3px #22ac00;
} */
/* ========================== */
.applaction{
  text-align: center;
}
ul.applaction li {
  list-style: none;
  width: 19%;
  display: inline-block;
}
.applaction h3.exp_h{
  position: absolute;
  top: 58%;
  left: 2%;
  color: #fff;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 96%;
  margin: auto;

}
/* ===============31/7/23================ */

.carousel-caption.d-md-block.c5 {
  top: 40%;
  width: 100%;
  left: 0;
  font-size: 24px;
}

/* .carousel-caption.d-md-block.c5 h5{
  font-size: 24px!important;
} */

p.p_ul6 {
  column-count: 2;
  column-gap: 25px;
}
.application{
  display: flex;

}
.gl_sheets{
  display: flex;
    gap: 49px;
    padding-left: 3%;
}
.gl_sheets li {
  list-style: dotted;
}
.gl_detail {
  display: flex;
  gap: 38px;
}

.gl_cd ul li {
  display: flex;
}

.gl_cd ul li span{
  font-size: 14px;
}
.gl_cd ul li span:first-child{
  font-weight: 700;
  font-size: 14px;
  width: 43%;
}














/*--- media-screen-- */
@media(min-width:700px) {
  .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
  .wrapper>* {
      padding: 2em;
  }
  .company-info h3,
  .company-info ul,
  .brand {
      text-align: left;
  }

  
  /* -----end--media-- */
}
@media screen and (max-width: 768px) {
  .authorWindow{
       width: 210px;
  }
  .contact {
    display: block;
 
    padding: 0px 0;
  }
  .forging_main {
    display: block;
  }
  .csrimg img.r_5 {
    width: 100%;
}

  .himage img {
    height: auto!important;
    margin-top: 10px;    margin-bottom: 10px;
}

  .contact form input, .contact form textarea {
    width: 100%;
    padding: 0.5em;}
  .w50, .w40, .w60{
    width: 100%;
    margin-bottom: 10px;
  }
  .forgung {
    padding: 0;
}
  .authorWindowWrapper{
           bottom: -170px;
margin-bottom: 20px;
  }
  main {
    padding-top: 38px;
}
  footer p{
        font-size: 14px;
  }
  .produ_ct h3{
    font-size: 12px!important;
  font-weight: bold;
  width: 96%!important;
  padding-left: 6px;
  border-left: none;
  margin-left: 5px;
  }
  .ptb {
    padding: 10px 0!important;
}
.brand__slider-item img{
  padding: 0;
  width: 100%;
}
.brand__title span {
  font-size: 36px;
  font-weight: bold!important;
  margin-bottom: 30px;
}


/* -----end--media-- */
}


@media only screen and (max-width: 575px) {
ul.experts {
  display: block;

  margin: 5px;
}
ul.experts li {
margin-bottom: 8px;
}
.cwd .logo h3.h_cdw {
line-height: 26px;
font-size: 34px;
}
h5.text-white.mb_font {
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carousel-caption {
  bottom: 0;
}
.cunt p {
  font-size: 14px;
}
.cunt p.number {
  font-size: 24px;}
  ul.applaction li{
    width: auto;
  }
  .comman-head h2 {
    font-size: 23px;
  }



/* -----end--media-- */
}


.cdwtubesbanner h5{
    background: #986e12db;
    position: absolute;
    right: 25px;
    z-index: 999;
    bottom: -12px;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    color: white;
    text-shadow: 1px 1px 8px #222222;
    backdrop-filter: blur(0px);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.carousel-item:before {
    content: '';
    position: absolute;
    background: rgb(99 72 14 / 0%);
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    /* z-index: -1; */
}

.carousel-item {
    position: relative;
    z-index: 1;
}


.cdwtubesbanner .carousel-caption
{
  background: linear-gradient(-45deg, rgb(255 171 47 / 75%), rgb(136 100 14 / 77%), rgb(196 147 8 / 80%), rgb(209 170 55 / 72%));
  background-size: 400% 400%;
  animation: gradient 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.cdwtubesbanner .carousel-caption p {
    text-shadow: 1px 1px #c48a21;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.cdwtubesbanner{
    border-bottom: 5px solid #986e12;
}

.comman-head span{
    font-weight: 600;
    font-size: 20px;
    color: #115414;
    display: block;
    margin-top: 8px;
}

.innerpagenav{
    background: #986e12;
    padding: 15px;
}
.innerpagenav ul.pagenav{
    text-align: center;
}
.innerpagenav ul.pagenav li{
    display: inline-block;
    margin: auto 4px;
}
.innerpagenav ul.pagenav li a{
    background: #facd69;
    padding: 10px;
    display: block;
    font-weight: 600;
    border-radius: 3px;
    color: #563d04;
}
.innerpagenav ul.pagenav li a:hover{background: #332300;color: #facd69;border-bottom: 3px solid #facd69;}
.innerpagenav ul.pagenav li a.active{background: #332300;color: #facd69;border-bottom: 3px solid #facd69;}
section.p60.abou_t img{
    width: 100%;
}
.eurocert{
    float: right;
    position: relative;
    padding-right: 40px;
    margin-top: 5px;
    color: #2a2a86;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}

#journey {
  padding: 50px 0;
}

#journey h2 {
  font-size: 34px;
  letter-spacing: -0.5px;
  color: #16141a;
  position: relative;
  display: inline-block;
}

#journey h2::before {
  content: "";
  position: absolute;
  right: -3px;
  bottom: 5px;
  z-index: -1;
  width: 123px;
  height: 16px;
  background-color: #ece5ff;
}

#journey .timeline-holder {
  padding: 75px 0 0;
}

#journey .timeline-holder svg {
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#journey .timeline-holder .mask-path {
  -webkit-transform: translate(329px, 1403px);
          transform: translate(329px, 1403px);
  stroke: white;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
}

#journey .timeline-holder .path-holder {
  max-width: 700px;
  position: relative;
  margin-left: auto;
}

#journey .timeline-holder .year-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

#journey .timeline-holder .year-box .text {
  text-align: left;
  margin-right: 10%;
}

#journey .timeline-holder .year-box .text h3 {
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #5d36a9;
}

#journey .timeline-holder .year-box .text h4 {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.26px;
  color: #16141a;
}

#journey .timeline-holder .year-box .logo {
  position: relative;
}

#journey .timeline-holder .year-box .logo .logo-holder {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 10px solid #dfdcfe;
  background-color: #ffffff;
}

#journey .timeline-holder .year-box .logo::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #dfdcfe transparent transparent;
}

#journey .timeline-holder .year-box.yb-2021 {
  top: -1%;
  width: 75%;
  left: 22%;
}

#journey .timeline-holder .year-box.yb-2021 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2020 {
  top: 8.5%;
  width: 75%;
  left: 3%;
}

#journey .timeline-holder .year-box.yb-2020 .text {
  -webkit-transform: translate(-5%, -140%);
          transform: translate(-5%, -140%);
}

#journey .timeline-holder .year-box.yb-2020 .logo .logo-holder {
  background-color: #5d36a9;
  color: #ffffff;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.9px;
}

#journey .timeline-holder .year-box.yb-2020 .logo::before {
  top: 7%;
  right: 6%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(129deg);
          transform: translateY(-50%) rotate(129deg);
}

#journey .timeline-holder .year-box.yb-2019 {
  top: 18.5%;
  width: 75%;
  left: -16%;
}

#journey .timeline-holder .year-box.yb-2019 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2019 .text {
  -webkit-transform: translate(95%, -220%);
          transform: translate(95%, -220%);
}

#journey .timeline-holder .year-box.yb-2019 .logo::before {
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2019-2 {
  top: 20%;
  width: 50%;
  left: 70%;
}

#journey .timeline-holder .year-box.yb-2019-2 .text {
  -webkit-transform: translate(-235%, 100%);
          transform: translate(-235%, 100%);
}

#journey .timeline-holder .year-box.yb-2019-2 .logo .logo-holder {
  background-color: #5d36a9;
  color: #ffffff;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.9px;
}

#journey .timeline-holder .year-box.yb-2019-2 .logo::before {
  top: 86%;
  left: 1%;
  right: auto;
  -webkit-transform: translateY(-50%) rotate(319deg);
          transform: translateY(-50%) rotate(319deg);
}

#journey .timeline-holder .year-box.yb-2018 {
  top: 28%;
  width: 75%;
  left: -16%;
}

#journey .timeline-holder .year-box.yb-2018 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2018 .text {
  -webkit-transform: translate(185%, 210%);
          transform: translate(185%, 210%);
}

#journey .timeline-holder .year-box.yb-2018 .logo::before {
  top: 86%;
  right: 1%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(223deg);
          transform: translateY(-50%) rotate(223deg);
}

#journey .timeline-holder .year-box.yb-2018-2 {
  top: 38%;
  width: 75%;
  left: 10%;
}

#journey .timeline-holder .year-box.yb-2018-2 .text {
  -webkit-transform: translate(-235%, 100%);
          transform: translate(-235%, 100%);
}

#journey .timeline-holder .year-box.yb-2018-2 .logo .logo-holder {
  background-color: #5d36a9;
  color: #ffffff;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.9px;
}

#journey .timeline-holder .year-box.yb-2018-2 .logo::before {
  top: 86%;
  left: 1%;
  right: auto;
  -webkit-transform: translateY(-50%) rotate(319deg);
          transform: translateY(-50%) rotate(319deg);
}

#journey .timeline-holder .year-box.yb-2018-3 {
  top: 47.5%;
  width: 75%;
  left: 25%;
}

#journey .timeline-holder .year-box.yb-2018-3 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2018-3 .text {
  -webkit-transform: translate(60%, -175%);
          transform: translate(60%, -175%);
}

#journey .timeline-holder .year-box.yb-2018-3 .logo .logo-holder {
  border: 10px solid #e6eaeb;
}

#journey .timeline-holder .year-box.yb-2018-3 .logo::before {
  border-color: transparent #e6eaeb transparent transparent;
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2017 {
  top: 57%;
  width: 75%;
  left: -20%;
}

#journey .timeline-holder .year-box.yb-2017 img {
  max-width: 100px;
}

#journey .timeline-holder .year-box.yb-2017 .text {
  -webkit-transform: translate(130%, -165%);
          transform: translate(130%, -165%);
}

#journey .timeline-holder .year-box.yb-2017 .logo::before {
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2016 {
  top: 66.5%;
  width: 75%;
  left: 25%;
}

#journey .timeline-holder .year-box.yb-2016 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2016 .text {
  -webkit-transform: translate(60%, -175%);
          transform: translate(60%, -175%);
}

#journey .timeline-holder .year-box.yb-2016 .logo .logo-holder {
  border: 10px solid #e6eaeb;
}

#journey .timeline-holder .year-box.yb-2016 .logo::before {
  border-color: transparent #e6eaeb transparent transparent;
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2016-2 {
  top: 76.5%;
  width: 75%;
  left: -18%;
}

#journey .timeline-holder .year-box.yb-2016-2 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2016-2 .text {
  -webkit-transform: translate(100%, -175%);
          transform: translate(100%, -175%);
}

#journey .timeline-holder .year-box.yb-2016-2 .logo .logo-holder {
  border: 10px solid #e6eaeb;
}

#journey .timeline-holder .year-box.yb-2016-2 .logo::before {
  border-color: transparent #e6eaeb transparent transparent;
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2014 {
  top: 86%;
  width: 75%;
  left: 26%;
}

#journey .timeline-holder .year-box.yb-2014 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2014 .text {
  -webkit-transform: translate(115%, -205%);
          transform: translate(115%, -205%);
}

#journey .timeline-holder .year-box.yb-2014 .logo .logo-holder {
  border: 10px solid #e6eaeb;
}

#journey .timeline-holder .year-box.yb-2014 .logo::before {
  border-color: transparent #e6eaeb transparent transparent;
  top: -4%;
  right: 43%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

#journey .timeline-holder .year-box.yb-2011 {
  top: 96%;
  width: 75%;
  left: -18%;
}

#journey .timeline-holder .year-box.yb-2011 img {
  max-width: 80px;
}

#journey .timeline-holder .year-box.yb-2011 .text {
  -webkit-transform: translate(200%, -5%);
          transform: translate(200%, -5%);
}

#journey .timeline-holder .year-box.yb-2011 .logo .logo-holder {
  border: 10px solid #e6eaeb;
}

#journey .timeline-holder .year-box.yb-2011 .logo::before {
  border-color: transparent #e6eaeb transparent transparent;
  top: 52%;
  right: -12%;
  left: auto;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

#journey .timeline-holder .yearbook {
  position: relative;
  display: inline-block;
}

#journey .timeline-holder .yearbook ul {
  position: relative;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.83;
  letter-spacing: -0.18px;
  color: #16141a;
  padding: 0;
  margin: 0;
}

#journey .timeline-holder .yearbook ul li {
  list-style: none;
}

#journey .timeline-holder .yearbook ul li a {
  color: #16141a;
  text-decoration: none;
}

#journey .timeline-holder .yearbook ul li.active a {
  color: #a381fb;
}

#journey .timeline-holder .yearbook ul::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  opacity: 0.42;
  right: -50%;
  border-radius: 4px;
  background-color: #dfdcfe;
}

#journey .timeline-holder .yearbook .indicator {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: absolute;
  top: 7px;
  right: -65%;
  width: 28px;
  height: 28px;
  border: 3px solid #5d36a9;
  background-color: #ffffff;
  border-radius: 100%;
  display: none;
}

#journey .timeline-holder .yearbook .indicator::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #5c36a9 transparent transparent;
}

@media only screen and (min-width: 992px) {
#journey {
    padding: 100px 0 0;
  }
  #journey h2 {
    font-size: 50px;
  }
  #journey h2::before {
    right: -23px;
    bottom: -6px;
    width: 195px;
    height: 36px;
  }
  #journey .timeline-holder {
    padding: 100px 0 0;
  }
  #journey .timeline-holder .wrap-yearbook {
    position: relative;
  }
  #journey .timeline-holder .year-box.yb-2020 .logo .logo-holder {
    font-size: 56px;
  }
  #journey .timeline-holder .year-box.yb-2020 .logo .logo-holder small {
    font-size: 34px;
  }
  #journey .timeline-holder .year-box.yb-2019-2 .logo .logo-holder {
    font-size: 56px;
  }
  #journey .timeline-holder .year-box.yb-2019-2 .logo .logo-holder small {
    font-size: 34px;
  }
  #journey .timeline-holder .year-box.yb-2018-2 .logo .logo-holder {
    font-size: 56px;
  }
  #journey .timeline-holder .yearbook {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
  #journey .timeline-holder .yearbook ul {
    font-size: 18px;
  }
  #journey .timeline-holder .yearbook ul::before {
    right: -80%;
  }
  #journey .timeline-holder .yearbook .indicator {
    right: -95%;
    display: block;
  }
  }

.boxdesignmd:before{
    content: '';
    position: absolute;
    right: 70px;
    width: 200px;
    height: 200px;
    background: white;
    margin-top: -50px;
    z-index: -1;
    box-shadow: -8px 9px 0px #eaeaea;
}

.boxdesignmd {
    position: relative;
    z-index: 1;
}